.main {
  position: relative;
  width: 100%;
}

/* Home Section */

.home {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.home-hello-text {
  font-family: "Inter", sans-serif;
  color: #428eff;
  font-size: 22px;
  line-height: 26.4px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

.home-name-text {
  color: #000000;
  font-weight: 800;
  font-size: clamp(60px, 60%, 100px);
  font-family: "Inter", sans-serif;
  text-align: center;
  max-width: 100vw;
  line-height: 80px;
  height: auto;
  margin-bottom: 241px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.purple-text {
  color: #8d34ff;
  max-width: 100vw;
}

.home-banner {
  width: 90vw;
  margin-bottom: 35px;
  max-width: 628px;
  height: auto;
}

.home-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 90px;
  font-style: normal;
}

.home-portfolio-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  color: black;
}

.home-portfolio-container {
  color: black;
}

.home-portfolio-text {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}

.home-portfolio-icon {
  width: 15px;
  height: 9px;
}

.home-follow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15.5px;
}

.home-follow-text {
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  font-family: "Inter", sans-serif;
}

.home-follow-git {
}

.home-follow-linkedin {
}

/* About Section */

.about {
  width: 100%;
  padding-left: 20px;
  margin-bottom: 167px;
}

.about-photo {
  height: 471px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
  margin-bottom: 40px;
}

.about-photo-img {
  width: 400px;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}

.about-me {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.about-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-right: 20px;
}

.about-title {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 14px;
}

.about-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 22px;
  margin-bottom: 35px;
  border-bottom: 1px solid #cbcbcb;
}

.about-btn {
  /* border: 1px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%);
  border-image-slice: 1;
  border-collapse: separate; */

  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: black;
  margin-bottom: 90px;
  width: 158px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
}

.about-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;
  background: linear-gradient(45deg, #b827fc, #2c90fc);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.about-btn::after {
}

.about-btn:visited {
  color: black;
}

.about-info-mask {
  align-self: flex-end;
}

/* Skills Section */

.skills {
  background-image: url("../assets/skills-mobile-back.png");
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.skills-info {
}

.skills-title {
  padding-top: 70px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
}

.skills-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 35px;
}

.skills-btn {
  padding: 17px 30px;
  color: white;
  background: linear-gradient(93.66deg, #9426eb 0%, #428eff 100%);
  box-shadow: 0px 10px 52px rgba(0, 64, 210, 0.21);
  border-radius: 30px;
  text-decoration: none;
  margin-bottom: 35px;
}

.skills-btn:visited {
  color: white;
}

.skills-progress {
  background: #ffffff;
  opacity: 0.9;
  box-shadow: 0px 10px 50px rgba(29, 74, 133, 0.07);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  gap: 40px;
  box-shadow: 0px 10px 50px rgba(29, 74, 133, 0.07);
}

.skill-progress-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.skill-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

.skill-logo {
  width: 40px;
  height: 40px;
}

.skill-progress-info {
  display: flex;
  flex: row;
  justify-content: space-between;
}

.skill-progress-text {
  font-family: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  border-radius: 7px;
}

.skill-progress-bar {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 11.6525px;
}

.skill-progress-bar::-webkit-progress-bar {
  background-color: #d9d9d9;
  border-radius: 11.6525px;
}

.skill-progress-bar::-webkit-progress-value {
  background: linear-gradient(90deg, #8d34ff 0%, #428eff 100%);
  border-radius: 11.6525px;
}

.skill-progress-bar::-moz-progress-bar {
  background: linear-gradient(90deg, #8d34ff 0%, #428eff 100%);
  border-radius: 11.6525px;
}

/* Projects Section */

.projects {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  /* margin-bottom: 100px; */
}

.projects-section-title {
  font-family: 35px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}

.projects-container {
  /* display: grid;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, max(480px));
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, max(450px));
  grid-template-rows: repeat(auto-fit, 606px);
  gap: 60px;
  align-items: center;
  max-width: 100vw;
}

.project-container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  gap: 15px;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #2c90fc, #b827fc);
  /* margin-bottom: 60px; */
  padding-left: 20px;
  padding-right: 20px;
  height: 550px;
}

.project-img-container {
  position: relative;
}

.project-img {
  max-height: 278px;
}

.project-links-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
  margin-left: 15px;
}

.project-link {
  padding: 4px;
  /* border-radius: 5px; */
  border-bottom: 1px solid;
  /* width: 62px;
  height: 76px; */
}

.project-link-icon {
  min-width: 34px;
  height: auto;
}

.long-project-title {
  font-size: 12px;
  margin-left: 5px;
  text-align: center;
}

.smaller-icon {
  min-width: 30px;
  width: 30px;
}

.project-img {
  width: 390px;
  min-width: 280px;
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  border-radius: 15px;
}

.project-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* gap: 30px; */
  align-items: center;
}

.project-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tech-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.project-tech {
  /* width: 100%; */
  text-align: start;
  position: relative;
  padding: 6px 10px;
  font-size: 12px;
}

.project-tech::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3px;
  padding: 1px;
  background: linear-gradient(45deg, #b827fc, #2c90fc);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.mobile-project-link {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: black;
  text-decoration: none;
  align-items: center;
}

.desktop {
  display: none;
}

/* Contact section */

.contact {
  background-image: url("../assets/contact-footer.png");
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  gap: 25px;
}

.contact-title {
  font-weight: 300;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    to left,
    hsla(216, 100%, 63%, 0.053),
    hsla(281, 97%, 57%, 0.53)
  );
  padding-bottom: 25px;
}

.contact-title-logo {
}

.contact-bold-title {
  font-weight: 600;
}

.contact-follow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: #959595;
  font-size: 14px;
  line-height: 17px;
}

.contact-quick {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quick-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.quick-title {
  margin-bottom: 15px;
  font-weight: 500;
}

.quick-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.quick-link:visited {
  color: black;
}

.quick-info-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: black;
}

.quick-info-container:visited {
  color: black;
}

.quick-info-container .contact-follow-logo {
  width: 25px;
  height: auto;
}

.contact-info-title {
  margin-bottom: 10px;
}

.quick-contact-icon {
  width: 20px;
  height: auto;
}

.quick-contact-type {
  font-weight: 300;
  font-size: 12px;
}

.quick-contact-info {
  font-weight: 600;
  font-size: 12px;
}

.footer {
  background-color: #e4e6f1;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding: 15px 0px;
}

@media only screen and (min-width: 720px) {
  .home-name-text {
    font-size: 70px;
  }

  .contact {
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
    background-image: url("../assets/contact-desktop.png");
  }

  .contact-header {
    width: 50%;
  }

  .contact-quick {
    width: 50%;
  }
}

@media only screen and (min-width: 920px) {
  .desktop {
    display: initial;
  }

  .mobile {
    display: none;
  }

  .home {
    padding-bottom: 380px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .home-hello-text {
    margin-top: 140px;
  }

  .home-name-text {
    margin-bottom: 10px;
    /* font-size: 100px; */
  }

  .home-banner {
    position: absolute;
    bottom: 62px;
    left: 50%;
    transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
  }

  .home-name-text {
    flex-direction: row;
    gap: 15px;
  }

  .home-links {
    padding: 0;
  }

  .home-hello-text {
    width: 100%;
    text-align: start;
  }

  .about {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
  }

  .about-me {
    width: 50%;
  }

  .about-photo {
    width: 50%;
  }

  .skills {
    flex-direction: row;
    background-image: url("../assets/mask-desktop-img.png");
    align-items: center;
    height: 631px;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
  }

  .skills-info {
    max-width: 40%;
  }

  .skills-progress {
    /* padding-top: 70px; */
    /* margin-bottom: 15px; */
    width: 100%;
  }

  .projects {
    padding-left: 0px;
    padding-right: 0px;
  }

  .projects-container {
    padding-left: 90px;
    padding-right: 90px;
  }

  .project-img-container {
    position: relative;
  }

  .project-img-container:hover .project-img {
    filter: brightness(55%);
  }

  .project-img {
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .project-img-container:hover .project-links-container {
    opacity: 1;
  }

  .project-links-container {
    display: flex;
    flex-direction: row;
    gap: 65px;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    margin-left: 0px;
  }

  .project-links-container:hover {
    opacity: 1;
  }

  .project-link {
    border-bottom: none;
    padding: 0px;
  }

  .project-link {
  }

  .project-link-icon {
    min-width: 45px;
    height: auto;
    filter: invert(100%) sepia(4%) saturate(2869%) hue-rotate(183deg)
      brightness(123%) contrast(100%);
  }

  .smaller-icon {
    min-width: 41px;
  }

  .about-info {
    padding-left: 0;
    padding-right: 90px;
  }

  .about-photo {
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1100px) {
  .home {
    padding-left: 180px;
    padding-right: 180px;
  }

  .skills {
    padding-left: 180px;
    padding-right: 180px;
  }

  .about-info {
    padding-left: 0px;
    padding-right: 180px;
  }
  .about-photo {
    padding-left: 180px;
    padding-right: 180px;
  }
}
